/*Shared Style Elements*/

* {
  padding: 0;
  margin: 0;
}
h1 {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
h3 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
h4 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
h5 {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h6 {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  text-decoration: none;
}
.btn-primary:hover {
  background: #ee3a61;
}
.pink-text-span {
  color: #e55473;
}

/*Header Style Elements*/

.hero-section {
  background: rgba(229, 84, 115, 0.1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5rem;
  padding: 0 15rem;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.hero-image {
  align-self: flex-end;
}

/*Featured Section Style Elements*/

.featured-section {
  margin-top: 8rem;
  text-align: center;
}
.featured-items-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.featured-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.featured-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.featured-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/*Featured Items Common Style Elements*/

.item-img-1,
.item-img-2,
.item-img-3 {
  border-radius: 300px 300px 0px 0px;
  width: 28.625rem;
  height: 33.625rem;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
.item-img-1 {
  background: rgba(167, 33, 98, 0.15);
}
.item-img-2 {
  background: rgba(5, 151, 160, 0.15);
}
.item-img-3 {
  background: rgba(71, 125, 17, 0.15);
}
.item-name {
  text-decoration: underline;
  cursor: pointer;
}

/*USP Section Style Elements*/

.usp-section {
  margin: 8rem 15rem;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5em;
  padding: 5rem 0;
  text-align: center;
}
.usp-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.usp-icon {
  height: 5.5rem;
  width: 5.5rem;
}

/*Hot Deal Section Style Elements*/

.hot-deal-section {
  padding: 6.25rem 0;
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10rem;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-deal-text p {
  margin-bottom: 2rem;
}

/*Instagram Section Style Elements*/

.instagram-section {
  margin: 8rem 15rem;
  text-align: center;
}

.instagram-items-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.instagram-items-container img {
  border-radius: 8px;
}
.instagram-items-container img:hover {
  transform: scale(1.05);
  transition: 1000ms ease-in-out;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/*Subscribe Section Style Elements*/

.subscribe-section {
  margin: 3rem auto;
  border-radius: 8px;
  background: url(../images/Subscribe-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1450px;
  height: 449px;
  flex-shrink: 0;
}
.subscribe-section p span {
  color: #e55473;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
}
.subscribe-section p {
  margin-bottom: 3rem;
}
.subscribe-form input {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 600px;
  padding: 22px 22px;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
}

/*Review Section*/

.review-section {
  margin: 8rem 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  background-color: transparent;
  justify-content: center;
  gap: 3rem;
  border-radius: 20px;
  margin-top: 2.5rem;
  text-align: left;
}
.review-card {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 300px;
  height: 400px;
  border: 0.5px solid #f1f1f1;
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.review-card:hover {
  transform: scale(1.05);
  transition: 1000ms ease-in-out;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.review-heading {
  color: #e55473;
  text-align: center;
  font-family: Lato;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.review-text p {
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
  text-justify: distribute-all-lines;
}
.reviewer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.reviewer-name {
  padding-top: 3.5rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
}
.reviewer img {
  width: 50px;
  height: auto;
  padding-right: 20px;
}
.designation {
  color: #272727;
  font-family: Lato;
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
}

/*Footer Section Style Elements*/

footer {
  margin-top: 8rem;
  background: #111010;
  padding: 8rem 0;
}

footer p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 2rem;
}
